@{
    ViewData["Title"] = "About";
}
<h1>@ViewData["Title"]</h1>

<h3>Quick facts</h3>
<p>This page was created using:
    <ul>
        <li>the Community edition of Visual Stuido 2017</li>
        <li>.net Core 2.2 Framework MVC with Entity Framework</li>
        <li>Bootstrap CSS used for UI (KLove logo .img-fluid)</li>
        <li>sample data from public sources (LinkedIn)</li>
        <li>stored on GitHub:  <a href="https://github.com/nicholasmau/klovehomework" target="_blank">https://github.com/nicholasmau/klovehomework</a> </li>
        <li>instructions on GitHub:  <a href="https://github.com/nicholasmau/klovehomework/blob/master/README.md" target="_blank">https://github.com/nicholasmau/klovehomework/blob/master/README.md</a> </li>
    </ul>
</p>
