@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Nick's K-Love Homework Assignment</h1>
    <img class="img-fluid" src="~/lib/images/EMF-LOGO-color.jpeg" width="400"/>
</div>
<div>
    <h2>Build a simple web application for managing employee contact lists.</h2>
    <p>
        <h3>Required:</h3>
        <ul>
            <li>Use of C#, ASP.NET MVC, and Entity Framework</li>
            <li>CRUD for Departments</li>
            <li>CRUD for Employees (including contact information)</li>
            <li>Ability to associate an Employee with a Department</li>
            <li>Ability to view a list of all Employees in a Department</li>
            <li>Instructions on how to install/run/test the application</li>
        </ul>

        <h3>Bonus Points (not required):</h3>
        <ul>
            <li>Use of ASP.NET Core MVC and Entity Framework Core</li>
            <li>A passing test suite</li>
            <li>A non-ugly UI</li>
        </ul>
    </p>
</div>
